@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246; /* Gray-100 RGB value */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 250, 250, 250;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.chivo-Roman {
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 600;
  font-style: italic;
}


.edu-au-vic-wa-nt-hand-italic {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}



/* TableComponent.css */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9fafb; /* Dark background */
  color: #fff; /* White text */
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #d9d9d9; /* Darker border for rows */
  text-align: left;
}

.custom-table th {
  background-color: #f9fafb; /* Slightly darker background for header */
  text-transform: uppercase;
  font-weight: bold;
}

.custom-table tbody tr:hover {
  background-color: #e7e8e9; /* Slightly lighter background on hover */
}

.custom-table td {
  position: relative;
}

.custom-table td::after {
  position: absolute;
  right: 10px;
  color: #ffffff; /* Lighter color for ellipsis */
}
